@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alt-bg-color: #364758;
  --alt-bright-text-color: #f2f2f2;
  --alt-text-color: #2ea32e;
  --alt-link-color: #198b58;
  --alt-light-text-color: #abffab;

  --title-bar-bg-color: #222;
  --background-color: #f2f2f2;
  --text-color: #555;
  --link-color: #367d64;
  --accent-text-color: #2ea32e;
  --heavy-light-mode-font: bold;

  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.darkMode {
  --alt-bg-color: #2C2C2C;
  --top-toolbar-color: #414141;
  --top-toolbar-color-light: #5e5e5e;
  --background-color: hsl(0, 0%, 20%);
  --input-bg-color: hsl(0, 0%, 13%);
  --button-color: hsl(153, 47%, 30%);
  --button-color: hsl(235, 86%, 65%); /* discord buttons */
  --button-color: #23a459;
  --button-accent-color: #a3a3a3;
  --button-text: #f2f2f2;
  --text-color: #c0c0c0;
  --active-color: #23a459;
  --link-color: #42b983;
  --accent-text-color: #abffab;
  --heavy-light-mode-font: normal;
  color: var(--text-color);
}

h1 {
  color: var(--accent-text-color);
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: var(--accent-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: var(--heavy-light-mode-font);
}

a {
  color: var(--link-color);
}

select {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

html, body, div#app {
  height: 100%;
}

button.danger.danger {
  color: var(--alt-bright-text-color);
  background-color: rgba(255, 104, 104, 0.5);
}

button.danger.danger:hover {
  background-color: rgba(255, 104, 104, 0.8);
}

button.danger.danger:active {
  background-color: rgba(255, 104, 104);
  font-weight: bold;
  color: var(--background-color);
  outline: 1px solid var(--alt-bright-text-color);
}

button.danger.danger:focus-visible {
  outline: 1px solid var(--active-color);
  box-shadow: none;
  border: none;
}

button:focus {
  outline: none;
}

/** light and dark button styling */
button.light, button.dark {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline-offset: 2px;
}

/** light buttons styling */
button.light {
  color: var(--button-text);
  background-color: var(--button-color);
}

button.light > svg {
  fill: var(--alt-bright-text-color);
  stroke: none;
}

button.light:hover {
  background-color: var(--alt-link-color);
  outline: 1px solid var(--alt-bg-color);
  color: var(--alt-bright-text-color);
}

button.light:active {
  background-color: var(--active-color);
  color: var(--input-bg-color);
  outline: 1px solid var(--alt-bg-color);
}

button.light:focus-visible {
  outline: 2px solid var(--active-color);
}

/** dark buttons styling */
button.dark {
  color: var(--alt-bright-text-color);
  background-color: var(--background-color);
}

button.dark > svg {
  fill: var(--alt-bright-text-color);
  stroke: var(--alt-bright-text-color);
}

button.dark:hover {
  background-color: var(--alt-link-color);
  outline: 1px solid var(--alt-bg-color);
  color: var(--alt-bright-text-color);
}

button.dark:focus-visible {
  outline: 2px solid var(--active-color);
}

button.dark:active {
  background-color: var(--active-color);
  color: var(--alt-bright-text-color);
  outline: 1px solid var(--alt-bg-color);
  cursor: pointer;
}

input[type="text"] {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  border: none;
}
::selection {
  color: var(--background-color);
  background: var(--active-color);
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
  --tw-ring-color: none;
  outline: 1px solid var(--active-color);
}

.toggle:focus-visible {
  outline: 2px solid var(--text-color);
}